.single-img {
  padding: 20px;
}

.container {
  width: 55%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

div.row {
  justify-content: center;
}

.bg-primary {
  background: blue !important;
}
