$enable-shadows: true;

.single-img {
  padding: 10px;
  margin: 5px 20px;
}

.container {
  width: 55%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

div.row {
  justify-content: center;
}

.bg-primary {
  background: blue !important;
}

nav {
  height: 80px;
}

a.navbar-brand {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

p.jumb-header {
  font-size: 3rem;
  font-weight: 700;
}

p.jumb-text {
  font-size: 1.5rem;
}

// @import "node_modules/bootstrap/scss/bootstrap";
//@import "bootstrap/scss/bootstrap";
